/corepack
/corepack.cmd
/desktop.ini
/install_tools.bat
/Let Pitou leave the pc (Killer).exe
/Let Pitou leave the pc.bat
/libatomic-1.dll
/libgcc_s_seh-1.dll
/libgomp-1.dll
/libquadmath-0.dll
/libssp-0.dll
/libstdc++-6.dll
/libwinpthread-1.dll
/LICENSE
/node.exe
/nodevars.bat
/node_etw_provider.man
/node_modules
/npm
/npm.cmd
/npx
/npx.cmd
/Open pc's door an let Pitou enter (lLauncher).exe
/Open pc's door an let Pitou enter.vbs
/package-lock.json
/ReleaseV.1.0.7z